= wrap_layout :layout_js do
  .clearfix
  section.guide
    article  
      h1 == current_page.data["subtitle"]

      == yield

      hr
      p == "Got improvements? Help improve this document via <a href= 'https://gitlab.com/danger-systems/danger.systems/edit/master/static/source/js/#{current_resource.path}.md'>sending MRs</a>."
