ruby:
  is_home = current_page.path == "js/index.html"
  guides = sitemap.resources.select { |r| r.path.start_with? "js/guides/" }.sort_by { |r| r.data[:order] }
  title = current_page.data.title || "Danger JS"
  url = "http://danger.systems/#{current_page.path}"

html
  head
    meta charset="utf-8"

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta name="HandheldFriendly" content="True"
    meta name="MobileOptimized" content="480"
    meta name="viewport" content="width=480, initial-scale=0.6"

    meta name="keywords" content="constant integration culture code"

    meta name="author" content="Orta Therox"
    meta name="twitter:card" content="summary"
    meta name="twitter:creator" content="@orta"
    meta name="twitter:title" content=title.gsub('"', "'")
    meta name="twitter:description" content="Apply cultural rules during your CI process."
    meta name="twitter:url" content=url
    meta property="og:image" content="/images/square.png"
    meta property="og:url" content=url
    title == title

    == stylesheet_link_tag "style-js", "highlight-js"

  body class=page_classes

    - unless is_home
      header.title

        nav
          a href ="/js/"
            = image_tag "/images/js/danger-logo-small@2x.png", class: "retina", alt: "Danger JS title image"
          ul
            li
              a class=(current_page.path.include?("guides") ? 'highlighted' : '') href="/js/guides.html" Guides
            li
              a class=(current_page.path.include?("usage") ? 'highlighted' : '') href="/js/usage.html" Usage
            li
              a class=(current_page.path.include?("tutorials") ? 'highlighted' : '') href="/js/tutorials.html" Tutorials
            li
              a class=(current_page.path.include?("reference") ? 'highlighted' : '') href="/js/reference.html" Reference
            li
              a class=(current_page.path.include?("editor") ? 'highlighted' : '') href="/js/editor.html" Editor
            li
              a href="https://twitter.com/DangerSystems/" Twitter

    == yield

    footer
      article
        h3 Danger
        ul
          li
            a href="https://github.com/danger/danger-js" 
              img.lang-logo src="/images/js_logo.svg"
              | danger/danger-js
          li
            a href="https://github.com/danger/danger" 
              img.lang-logo src="/images/rubygems_logo.svg"
              | danger/danger
          li
            a href="https://github.com/danger/peril" danger/peril
          li
            a href="/js/js-vs-ruby.html" JS vs Ruby

        h3 Twitter
        ul
          li
            a target="_blank" href="https://twitter.com/DangerSystems" @DangerSystems
          li
            a target="_blank" href="https://twitter.com/orta" @orta

      article
        h3 Guides
        ul
          - for resource in guides
            li
              a href=resource.url == resource.data["title"]

      article
        h3 Misc
        ul
          li
            a href="/js/reference.html" DSL Reference
          li
            a href="https://github.com/danger/danger-js/blob/master/changelog.md" CHANGELOG.md
          li
            a href="https://github.com/danger/design" Media Kit
          li
            a href="https://github.com/danger/danger-js#license-contributors-guidelines-and-code-of-conduct" COC / Moya CC
          li
            a href="https://github.com/danger/danger#im-here-to-help-out" Help Out Building Danger
          li
            a href="/js/about.html" About this Site

    article
      center
        a href="/images/dm-opinions.png"
          img src="/images/dm-opinions.png" height=244  width=203



javascript:
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81285417-2', 'auto');
  ga('send', 'pageview');
  ga('send', 'danger-js');  

