---
layout: false
---

  article style='display:flex; height: 100%; margin:0 auto; align-items:center; justify-content:center; flex-direction:column;'
    div style='flex-direction:column;'
      a href="/js" style="margin-right:60px;"
        = image_tag("/images/home/js-logo@2x.png")
      
      a href="/ruby"
        img src="/images/home/ruby-logo@2x.png" height=200
    
    p style="font-family: 'Monaco'; padding-top:20px;"
      a href="/js/js-vs-ruby.html" Help me choose
